<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibraryIE.Properties.Settings.iExcipientConnectionString"
            connectionString="Data Source=103.140.249.152;Initial Catalog=iExcipient;Persist Security Info=True;User ID=iExcipientUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>